.hero {
  background-color: var(--bg-primary);
  .container {
    padding-top: 128px;
    padding-bottom: 128px;
    .tag {
      color: var(--white-75);
    }

    .title,
    .description {
      margin-top: 1.6rem;
    }

    @media screen and (min-width: 960px) {
      padding-top: 196px;
      padding-bottom: 196px;
    }
    @media screen and (min-width: 640px) {
      .description,
      .title {
        margin-top: 3.2rem;
      }
    }

    .description {
      color: var(--white-50);
      max-width: 720px;
    }

    .hero-btns {
      margin-top: 6.4rem;
      @media screen and (max-width: 639px) {
        display: block;
        max-width: 25rem;
        margin-left: auto;
        margin-right: auto;
      }
      @media screen and (min-width: 640px) {
        margin-left: -1.6rem;
        & > div {
          padding-left: 1.6rem;
        }
      }
      @media screen and (min-width: 960px) {
        margin-left: -3.2rem;
        & > div {
          padding-left: 3.2rem;
        }
      }
      & > div {
        button {
          width: 100%;
          a {
            padding: 0.8rem 1.6rem;
            width: 100%;
            @media screen and (min-width: 640px) {
              padding: 1.6rem 3.2rem;
            }
          }
          svg {
            margin-left: 8px;
          }
        }
      }
      @media screen and (max-width: 639px) {
        .projects-btn {
          margin-top: 1.6rem;
        }
      }
    }
  }
}
